<div>
    <section class="signing-screen" ng-hide="showCreateAccount">
        <h1 class="text-center">Welcome</h1>

        <div class="account-wall">

            <form class="form-signing">
                <input type="text" class="form-control" placeholder="Username" required autofocus>
                <input type="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in
                </button>
            </form>
        </div>
        <a href="#" class="text-center new-account" ng-click="switchLoginScreens()">Create an account</a>
    </section>

    <section class="create-account-screen" ng-show="showCreateAccount">
        <h1 class="text-center">Create account</h1>

        <div class="account-wall">

            <form class="form-create-account" ng-submit="createAccount()">
                <input ng-model="user.username" type="text" class="form-control" placeholder="Username" required
                       autofocus>
                <input ng-model="user.password" type="password" class="form-control" placeholder="Password"
                       required>
                <input ng-model="user.repeatPassword" type="password" class="form-control"
                       placeholder="Repeat Password" required>
                <label class="error"
                       ng-if="user.repeatPassword !== '' && user.password !== user.repeatPassword">Passwords
                    do not match</label>
                <label class="error" ng-show="validationError">Technical error</label>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Create
                </button>
            </form>
        </div>

        <a href="#" class="text-center sign-in" ng-click="switchLoginScreens()">Sign in</a>
    </section>
</div>